.treeviews, .treeviews ul {

    margin:0;

    padding:0;

    list-style:none

}

.treeviews ul {

    margin-left:1em;

    position:relative

}
.treeviews ul ul {

    margin-left:.5em

}

.treeviews ul:before {

    content:"";

    display:block;

    width:0;

    position:absolute;

    top:0;

    bottom:0;

    left:0;

    border-left:1px solid

}

.treeviews li {

    margin:0;

    padding:0 1em;

    line-height:2em;

    color:#369;

    font-weight:700;

    position:relative

}

.treeviews ul li:before {

    content:"";

    display:block;

    width:10px;

    height:0;

    border-top:1px solid;

    margin-top:-1px;

    position:absolute;

    top:1em;

    left:0

}

.treeviews ul li:last-child:before {

    

    height:auto;

    top:1em;

    bottom:0

}

.indicator {

    margin-right:5px;

}

.treeviews li a {

    text-decoration: none;

    color:#369;

}

.treeviews li button, .treeviews li button:active, .treeviews li button:focus {

    text-decoration: none;

    color:#369;

    border:none;

    background:transparent;

    margin:0px 0px 0px 0px;

    padding:0px 0px 0px 0px;

    outline: 0;

}

.ajax-load{

    background: #e1e1e1;

    padding: 10px 0px;

    width: 100%;

}